@(message: String)

@layouts.headerandfooter("") {
    
    <!DOCTYPE html>
    <html>
    <head>
    	<title>REGISTRAR AEROPUERTO</title>
    	<meta charset="UTF-8">
    
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='@routes.Assets.at("css/jquery.bxslider.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/MisEstilos.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/bootstrap.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("css/font-awesome.css")'>
    	
    </head>
    <body>

    <!---Cuerpo -->
    <main class="main">
    	<div class="content" style="max-width: 100%;">
    		<!-- Utilizando Bootstrap -->
    		<br/><br/>
    		<div class="container">
    			<div class="col-sm-12 text-left lead">
    					<strong>REGISTRAR AEROPUERTO</strong>
    			</div>		
    		</div>
    		<div class="container">
			
			<form method="POST" action="add" class="form-horizontal form-border">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				
				<!-- Mensajes de error de validación del Request -->
				@if(flash.containsKey("success")) {
			        <div class="alert alert-success fade in text-center">
			            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			            <strong>¡Éxito!</strong> @flash.get("success")
			        </div>
			    }

			    @if(flash.containsKey("error")) {
			        <div class="alert alert-danger fade in text-center">
			            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			            <strong>¡Error!</strong> @flash.get("error")
			        </div>
			    }

			    @if(flash.containsKey("info")) {
			        <div class="alert alert-info fade in text-center">
			            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			            <strong>¡Info!</strong> @flash.get("info")
			        </div>
			    }
				

				<br/>
				<br/>
				<div class="form-group">
			  		<div class="text-center">
			  			<font color="red"> 
			  				(*) Dato Obligatorio
			  			</font>
			  			
			  		</div>
			  	</div>
			  	</br>
			  	</br>	

				<!-- INICIO INCIO-->				                       				
				<div class="form-group required">
		    		<label for="cod_ciudad" class="col-sm-4 control-label">Código de ciudad</label>
		    		<div class="col-sm-5">
		      			<input type="text" class="form-control" id="cod_ciudad" name="cod_ciudad" placeholder="Código de ciudad" required onkeypress="return inputLimiter(event,'Letters')">
		    		</div>
		  		</div>
		  		
		  		<div class="form-group required">
		    		<label for="nombre" class="col-sm-4 control-label">Nombre</label>
		    		<div class="col-sm-5">
		      			<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required onkeypress="return inputLimiter(event,'Letters')">
		    		</div>
		  		</div>
		  		
		  		<div class="form-group required">
		    		<label for="pais" class="col-sm-4 control-label">País</label>
		    		<div class="col-sm-5">
		      			<input type="text" class="form-control" id="pais" name="pais" placeholder="País" required onkeypress="return inputLimiter(event,'Letters')">
		    		</div>
		  		</div>
		  		
		  		<div class="form-group required">
			    	<label for="abreviado" class="col-sm-4 control-label">Nombre Abreviado</label>
			    	<div class="col-sm-5">
			      		<input type="text" class="form-control" id="abreviado" name="abreviado" placeholder="Nombre Abreviado" required onkeypress="return inputLimiter(event,'Letters')">
			    	</div>			      					      		
			  	</div>	
			  
		  		<div class="form-group required">
			    	<label for="capacidad_almacen" class="col-sm-4 control-label">Capacidad del almacen</label>
			    	<div class="col-sm-5">
			      		<input type="text" class="form-control" id="capacidad_almacen" name="capacidad_almacen" placeholder="Capacidad del almacen" required onkeypress="return inputLimiter(event,'Numbers')">
			    	</div>
			  	</div>
			  	
				<div class="form-group required">
			    	<label for="latitud" class="col-sm-4 control-label">Latitud</label>
			    	<div class="col-sm-5">
			      		<input type="text" class="form-control" id="latitud" name="latitud" placeholder="Latitud" required onkeypress="return inputLimiter(event,'SignedNumbers')">
			    	</div>
			    </div>

				<div class="form-group required">
			    	<label for="longitud" class="col-sm-4 control-label">Longitud</label>
			    	<div class="col-sm-5">
			      		<input type="text" class="form-control" id="longitud" name="longitud" placeholder="Longitud" required onkeypress="return inputLimiter(event,'SignedNumbers')">
			    	</div>
			    </div>

			  	<div class="form-group required">
			    	<label for="huso" class="col-sm-4 control-label">Huso horario</label>
			    	<div class="col-sm-5">
			      		<input type="text" class="form-control" id="huso" name="huso" placeholder="Huso horario" required onkeypress="return inputLimiter(event,'SignedNumbers')">
			    	</div>
			  	</div>
					<!-- FIN FIN FIN  -->				
			
				</br>
			  	</br>
				<div class="btn-inline">
					<div class="btn-group col-sm-5"></div>
					
					<div class="btn-group ">
						<input class="btn btn-primary" type="submit" value="Confirmar">
					</div>
					<div class="btn-group">						
						<a href='@routes.CiudadesC.index()' class="btn btn-info">Cancelar</a>
					</div>
				</div>
				</br>
				</br>

				
				
			</form>
		</div>
        </div>		
    
    <!-- JQuery -->
    	<script src="js/jquery-1.11.3.min.js"></script>
    	<!-- Bootstrap -->
    	<script type="text/javascript" src="js/bootstrap.js"></script>
    	<!-- BXSlider -->
    	<script src="js/jquery.bxslider.min.js"></script>
    	<!-- Mis Scripts -->
    	<script src="js/MisScripts.js"></script>
    
    
    </body>
    </html>

}